<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${welcomeMessage}">Ma vue</h1>

    <form action="#" th:action="@{/view}" th:object="${newMessage}" method="post">
        <input type="text" name="author" th:field="*{author}" placeholder="Votre nom">
        <input type="number" name="age" th:field="*{age}" placeholder="Votre âge">
        <input type="text" name="content" th:field="*{content}" placeholder="Message">
        <input type="submit" value="Envoyer">
    </form>

    <div th:each="msg : ${messageList}">
        <p><b th:text="${msg.author}"></b> (<span th:text="${msg.age}"></span>)</p>
        <p th:text="${msg.content}"></p>
    </div>
</body>
</html>